@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>You have entered the Superheroes United Database. Displayed on the homepage you will find one of the greatest superheroes ever.
    <br>As part of this database you will have the ability to click on the name of the superhero (or anti-hero depending on your allegiance) to see their details.
    <br>If you already know you want to Edit or Delete that hero from the database you will be able to do that from the Index page. 
    <br>Otherwise it is also found on the details page.
    <br>Feel free to have some fun and enjoy this Superhero Index Database!</p>
</div>

<img src="http://s1.bwallpapers.com/wallpapers/2014/08/06/the-dark-knight-movie_085116766.jpg" alt="The Dark Knight Movie Poster" />
