@{
    ViewData["Title"] = "HomePage";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Welcome!</h1>
    <p>You have entered the Superheroes United Database. Displayed on the homepage you will find one of the greatest superheroes ever.
    <br>As part of this database you will have the ability to click on the name of the superhero (or anti-hero depending on your allegiance) to see their details.
    <br>If you already know you want to Edit or Delete that hero from the database you will be able to do that from the Index page. 
    <br>Otherwise it is also found on the details page.
    <br>Feel free to have some fun and enjoy this Superhero Index Database!</p>
</div>
<center>
    <img src="https://cameronmoviesandtv.files.wordpress.com/2016/04/the-dark-knight.jpg?w=717&h=1024" alt="The Dark Knight Movie Poster">
</center>